@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color-scheme: dark light;
  hanging-punctuation: first last;
  /* scroll-snap-type: y mandatory;
  scroll-padding-top: 50px; */
}

/* section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
} */

/* css vars */
:root {
  /* --background-color: rgb(180 225 245); */
  /* --background-color: rgb(191 219 254); */
  --background-color: rgb(147 197 253);
  --text: rgb(17 24 39);
  /*bg-blue-300 text-gray-900 */
}

[data-theme="dark"] {
  --background-color: rgb(3 7 18);
  --text: #fff;
}

* {
  font-family: "Roboto", sans-serif;
  font-display: optional;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--background-color);
  color: var(--text);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
.poppins {
  font-family: "Poppins", sans-serif;
}

.blueShadow {
  box-shadow: 0px 14px 55px rgba(109, 40, 217, 0.45);
}

.blueShadowLight {
  box-shadow: 0px 14px 55px rgba(109, 40, 217, 0.45);
}

/* .blueShadowLight {
box-shadow: 0px 14px 55px rgba(66, 153, 225, 0.45);
} */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* .specialSpin {
  animation: spin 5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.blur-load {
  background-size: cover;
  background-position: center;
}

.img {
  object-position: center;
  object-fit: cover;
} */
