@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  color-scheme: dark light;
  hanging-punctuation: first last;
}


/* css vars */
:root {
  --background-color: rgb(147 197 253);
  --text: rgb(17 24 39);
  /*bg-blue-300 text-gray-900 */
}

[data-theme="dark"] {
  --background-color: rgb(3 7 18);
  --text: #fff;
  /* bg-gray-950 text-white */
}

* {
  font-family: "Roboto", sans-serif;
  font-display: optional;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background-color: var(--background-color);
  color: var(--text);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
.poppins {
  font-family: "Poppins", sans-serif;
}

.blueShadowDark {
  box-shadow: 0px 14px 55px rgba(109, 40, 217, 0.55);
}

.blueShadowLight {
  box-shadow: 0px 14px 55px rgba(109, 40, 217, 0.25);
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}